*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family:Helvetica, sans-serif;
 
}
html, body{
height: 100%;
width: 100%;


}

nav{
 position: fixed;
    width: 100%;
height: 12vh;
background-color: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2vw 10.4vw;
    z-index: 10;

}

.nav-part2{
    display: flex;
    align-items: flex-start;
    gap:1vw;
    padding:1vw 0;
    position: relative;
    z-index: 10;
    
}
.nav-part2 h4{
    font-size: 0.85vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2.7vw;
}
.nav-part2 h5 span{
    font-size: 0.7vw;
    font-weight: 400;

}
.nav-part2 h5{
    margin-bottom: .70vw;
   display: none;
  
}
#nav-bottom{
    height: 0vh;
    width: 79%;
    position: absolute;
    transition: all .2s ease ;
    top:100%;
    z-index: 9;
    border-bottom: 1px solid white;
    background-color: #111;
}

nav button{
    background-color: #0BA34E;
    display: flex;
    align-items: center;
    padding: 12px 12px;
    border: none;
    border-radius: 50px;
    font-size: .85vw;
    font-weight: 500;
}
nav button svg{
    height: .85vw;
    margin-left: 1.6vw;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#page1 h1{
font-size: 8.5vw;
line-height: 8.5vw;
text-transform: uppercase;
font-weight: 900;
white-space: nowrap;
}
#page1 h1 svg{
    background-color: #0BA34E;
    height: 6.2vw;
    width: 6.2vw;
    border-radius: 50%;

}
#page1 h1 svg:hover{
transform: scale(1.1)
}
#page1 p{
   margin-top: 3vh;
   text-align: center;
   font-weight: 400;
}
#page1-tags{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#page1-tags h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding:5px 10px;
    border:1px solid white;
    border-radius: 50px;
    margin-top: 0.5vw;
    margin-left:2px ;
  
}
#page1-tags h4:hover{
background-color: rgb(246, 241, 241);
color: #111;
}
#page1-tags h4:nth-last-child(2){
    border: none;
    padding:2px;
    
}#page1-tags h4:nth-last-child(2):hover{
    background-color: #111;
    color: white;
}
#movingdiv{
    margin-top: 10vh;
    height: 10vh;
    width:44%;
    background-color: transparent;
    position: absolute;
    bottom: 5%;
    text-align: center;
    white-space: nowrap;
    padding: 1.2vh;
    overflow: hidden;
}
#movingdiv .move{
    display: inline-block;
    animation-name: movee;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
.move img{
    height: 5vh;
    margin:1vh 2vh;

}
@keyframes movee {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.toaster{
    padding: 5px 10px;
    border: 2px solid white;
    background-color: white;
   
    border-radius: 50px;
    bottom: 5vh;
    right: 2vw;
    position: fixed;
    animation-name: toastermove;
  animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
   
    
}
.toaster h3{
    font-size: 2vh;
    color: #111;
}
@keyframes toastermove {
    0%{
        transform: translateX(150);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
/* .blur-left{
    height: 100%;
    width: 20%;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    background:linear-gradient(#111,transparent);
}
.blur-right{
    height: 100%;
    width: 20%;
    position: absolute;
    top:0;
    right:0;
    z-index: 2;
    background:linear-gradient(transparent,#111);
} */
#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #333;
}

#page2-left{
    height: 100%;
    width: 40%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding:3vw 0;
}
#page2-left p{
    font-size: 1vw;
}
#page2-left h5{
    width: 75%;
    font-weight: 400;
    font-size: 1.2vw;
}
#page2-right{
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.right-elem{
    position: relative;
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}
.right-elem h2{
    font-size: 1.4vw;
    font-weight: 400;
}
.right-elem img{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    padding-bottom: 13vh;
}
.section{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13vh 10vw;
    padding-bottom: 0;
}
.section-left{
    height: 100%;
    width: 25%;
    padding-top: 3vh;
    border-top: 2px solid #000;
}
.section-left h2{
    font-size: 2.1vw;
    font-weight: 500;
    color: #000;
}
.section-left p{
    color: #000;
    margin-top:5vh;
    font-size:1.2vw;
}
.section-right{
    height: 100%;
    width: 65%;
    background-color: blanchedalmond;
    position: relative;
}
.section-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.section-right video{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity ease 0.3s;
}
#page4{
    min-height: 100vh;
    background-color: #111;
    width: 100%;
    position: relative;
    padding: 5vh 10.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#page4 button{
    background-color: #0ba34e;
    padding: 1vw 2.5vw;
    font-size: 1vw;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    position:sticky;
    top:15%;
}
#page4-right{
    width: 70%;

}
#page4-right>p{
    font-size: 2.1vw;
    font-weight: 100;
}
#page4-right>p span{
    width: 15vw;
    display: inline-block;
}
#page4-content{
    width: 100%;
    
    margin-top: 5vh;
    padding: 5vh 0;
   
}

#page4-content h1{
    font-size:3vw;
    font-weight: 500;
}
#page4-content #flex{
    display: flex;
    margin-top: 4vh;
    gap:4px;
    margin-bottom: 4vh;
}
#page4-content #flex h4{
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 0.8vw;
}
.page4-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 2vh;
    padding-bottom: 9vh;
    position:relative;
    overflow: hidden;
    border-top: 1px solid #333;
}
.page4-elem p{
    width: 55%;
    font-size: 1vw;
    position: relative;
    z-index: 8;
}
.page4-elem h3{
    font-size: 1.5vw;
    font-weight: 400;
    position: relative;
    z-index: 8;
    transition: all ease-out 0.5s;
}
.page4-elem img{
    height: 1.3vw;
    position: relative;
    z-index: 8;
    transition: all ease-out 0.5s;
}
.over4{
    height: 100%;
    width: 100%;
    background-color: #222;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: all ease-out 0.5s;
   
}
.page4-elem:hover{
    border-top:2px solid #fff
}
.page4-elem:hover h3{
    padding-left: 1vw;

}
.page4-elem:hover img{
    padding-right: 1vw;

}
.page4-elem:hover .over4{
    transform:translateY(0);
opacity: 1;

}
.uiux{
    border-top: 1px solid #333;
    padding: 3vh 0;
}
.product{
    border-top: 1px solid #333;
    padding: 3vh 0;
}
summary{
    list-style: none;
}
summary::-webkit-details-marker{
    display: none;
}
#page5{
min-height: 100vh;
    width: 100%;
    background-color: #fff;
    padding: 10vh 10vw;
}

#page5 > h1 {
    font-size: 5.5vw;
    color: #000;
    padding-left: 23vw;
    padding-right: 5vw;
    line-height: 5.8vw;
    padding-bottom: 10vh;
    border-bottom: 1px solid #dadada;
}

#page5-content {
    color: #000;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vh 0;
}

#page5-content #right-5 {
    width: 70%;
}

#page5-content #right-5 p {
    font-size: 1.5vw;
    color: #000;
    margin-bottom: 5vh;
    width: 80%;
}

#blue-btn {
    background-color: #4f5bff;
    width: 15vw;
    height: 3.5vw;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blue-btn h4 {
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85vw;
}

#blue-btn h4 i {
    font-size: 1.1vw;
    font-weight: 100;
    margin-left: 0.5vw;
}

#page5-bottom {
    min-height: 44vh;
    width: 100%;
    border-top: 1px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#btm5-part1 {
    border-right: 1px solid #dadada;
    width: 30%;
    height: 100%;
}

#btm5-part2 {
    border-right: 1px solid #dadada;
    width: 28%;
    height: 100%;
    
}
#btm5-part2 h4{
    transform:translateX(-100px);
    opacity: 0;
    transition: all 1s ease;

}
#btm5-part2 h4.show{
    transform: translateX(0);
    opacity: 1;
}


#btm5-part3 {
    border-right: 1px solid #dadada;
    width: 15%;
    height: 100%;
}

#btm5-part4 {
    border-right: 1px solid #dadada;
    width: 15%;
    height: 100%;
}

#btm5-part5 {
    width: 15%;
    height: 100%;
}

.btm5-parts {
    padding: 3vh 0.6vw;
}

.btm5-parts h5 {
    color: #000;
    font-weight: 500;
    font-size: 0.9vw;
    margin-bottom: 4vh;
}

.btm5-parts h4 {
    background-color: #111;
    width: 75%;
    padding: 5px 10px;
    margin-bottom: 0.3vh;
    border-radius: 50px;
    font-size: 0.85vw;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.btm5-parts h4 span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #333;
    padding: 0.5vw;
    border-radius: 50%;
    margin-right: 1vw;
}


/* #page6 {
    height: 100vh;
    background-color: #111;
} */

@media(max-width:600px){
   .nav-part2 , .nav-elem , #nav-bottom{
       display: none;
    }
    nav button{
        padding: 4px 10px;
        white-space: nowrap;
        font-size: 2.5vw;
        font-weight: 500;
    }
    nav button svg{
        height: 2.5vw;
        margin-left: 1.6vw;
    }
    nav{
        align-items: center;
        padding: 2vw 3vw;
    }
    nav h1{
        font-size: 4.1vw;
    }
    #page1{
        height: auto;
         min-height: 70vh;
         padding-top: 20vh;
         padding-bottom: 5vh;
         justify-content: flex-start;
     
    }
    #page1 h1{
        font-size: 11vw;
        line-height: 11vw;
       
    }

#page1 h1 svg{
    background-color: #0BA34E;
    height: 8.9vw;
    width: 8.9vw;
    border-radius: 50%;

}

    #page1-tags{
        flex-wrap: wrap;
        gap:2vw;
    }
    #page1-tags h4{
        font-size: 3vw;
        padding: 6px 10px;
    }
    #movingdiv{
        position: relative;
        width:80%;
        bottom: 0;
    }
    .move img{
        height: 4vh;
        margin:1vh 1.5vh;
    }
    #page2{
        min-height: 70vh;
        width: 100%;
        padding: 0vw 10px;
        display: block;
        justify-content: start;
        align-items: start;
        padding-bottom: 1vw;
  
  
    }
    #page2-left{
        height: 30%;
        width: 100%;
        gap:3vw;
    
        justify-content: center;

    }

#page2-left p{
    font-size: 2.5vw;
}
#page2-left h5{
    width: 100%;
    font-weight: 400;
    font-size: 3vw;
}
#page2-right{
    height: 60%;
    width: 100%;
}
.right-elem h2{
    font-size: 3vw;
    font-weight: 400;
}
.right-elem{
    padding-bottom: 2vw;
    border-top: 1px solid #333;
}
.right-elem img{
    height: 15vw;
    width: 15vw;
}
#page1-tags h4{
    font-size: 1.6vw;
    margin-top: 3vh;
    margin-left:2px ;
  
}

#page3{
    min-height: 60vh;
    padding-bottom: 4vh;
}
.section{
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    padding: 2vh 10px;
    padding-bottom: 3vw;
}
.section-left{
   min-height: 20%;
    width: 100%;
    padding-top: 1vh;
}
.section-left h2{
    font-size: 3vw;
}
.section-left p{
    color: #000;
    margin-top:1vh;
    font-size:2.5vw;
    margin-bottom: 2vh;
}
.section-right{
    min-height: 75%;
    width: 100%;

}

#page4{
    min-height: 45vh;

    padding: 3vh 10px;
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    flex-direction: column;
}



#page4 button{
   
    padding: 1vw 2.5vw;
    font-size: 1.5vw;
    position:relative;
    top:.9vh;
}
#page4-right{
    width: 100%;

}
#page4-right>p{
    font-size: 2.5vw;
   
}

#page4-span2{
    width: 0;
    display: none;
}
#page4-content{
    width: 100%;
    
    margin-top: 3vh;
    padding: 2vh 0;
   
}

#page4-content h1{
    font-size:5vw;
  
}
#page4-content #flex{
    display: flex;
    margin-top: 4vh;
    gap:4px;
    margin-bottom: 4vh;
}
#page4-content #flex h4{
    padding: 5px 10px;
    font-size: 2vw;
}
.page4-elem{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap:1vh;
    padding-top: 1vh;
    padding-bottom: 3vh;

}
.page4-elem p{
    width: 100%;
    font-size: 2vw;
}
.page4-elem h3{
    font-size: 2.7vw;
}
.page4-elem img{
    height: 2vw;
}
#page4-right>p span{
    width: 20vw;
  
}



#page5{
    min-height: 70vh;
    padding: 5vh 10px;
    width: 100%;
    }
    
    #page5 > h1 {
        font-size: 7.5vw;
        line-height: 7.8vw;
        color: #000;
        padding-left: 15vw;
        padding-right: 15vw;
        padding-bottom: 3vh;
        text-align: center;
    } 
    #page5-content {
        color: #000;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 5vh 0;
    }
    
    #page5-content #right-5 {
        width: 100%;
    } 
    #page5-content #right-5 p {
        font-size: 3vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        width: 100%;
    }
    #blue-btn {
        background-color: #4f5bff;
        width: 27vw;
        height: 5vw;
    }
    #blue-btn h4 {
        font-size: 2vw;
    }
    #page5-bottom {
        min-height: 20vh;
        width: 100%;
        justify-content: space-between;
    }
    #btm5-part1 {
        width: 0%;
    }
    #btm5-part3 {
      width: 22%;
    }
    #btm5-part4 {
    width: 22%;
    }
    #btm5-part5 {
        width: 22%;
    }
    .btm5-parts {
        padding: 1vh 0.6vw;
    }
    .btm5-parts h5 {
        font-size: 2.5vw;
        margin-bottom: 2vh;
    }
    .btm5-parts h4 {
        width: 80%;
        padding: 5px 10px;
        font-size: 2.2vw;
    }
    #cursor{
        display: none;
    }

}
@media(max-width:400px){
    .nav-part2 , .nav-elem , #nav-bottom{
        display: none;
     }
     nav button{
         padding: 4px 10px;
         white-space: nowrap;
         font-size: 3vw;
         font-weight: 500;
     }
     nav button svg{
         height: 3vw;
         margin-left: 1.6vw;
     }
     nav{
         align-items: center;
         padding: 2vw 3vw;
     }
     nav h1{
         font-size: 5vw;
     }
     
    #movingdiv{
        position: relative;
        width:80%;
        bottom: 0;
    }
    .move img{
        height: 4vh;
        margin:0vh 4vw;
    }


#page2-left p{
    font-size: 3.2vw;
}
#page2-left h5{
    width: 100%;
    font-weight: 400;
    font-size: 4vw;
}

.right-elem h2{
    font-size: 4vw;
}

#page1-tags h4{
    font-size: 2.5vw;
    margin-top: 3vh;
    margin-left:2px ;
}
.right-elem img{
    height: 20vw;
    width: 20vw;
}

.section-left h2{
    font-size: 3.8vw;
}
.section-left p{
font-size: 3vw;
}
#page4-content #flex h4{
    font-size: 2.5vw;
}

.page4-elem p{
    font-size: 3vw;
}
.page4-elem h3{
    font-size: 3.5vw;
}
.page4-elem img{
    height: 3vw;
}
#page4-right>p{
    font-size: 3vw;  
}
#page5-content #right-5 p {
        font-size: 3.4vw;
    
    }

 }

 #cursor{
    height:20px;
    width:20px;
    border-radius:50%;
    background:#fff;
    position:fixed;
    top:0;
    left:0;
    z-index:99999;
    pointer-events:none;
    transform:translate(-50%,-50%);
    transition:scale ease .3s;
    mix-blend-mode: difference;
}

#progress{
    height:5px;
    width:0%;
    background:#00ff88;
    position:fixed;
    top:0;
    left:0;
    z-index:99999;
    box-shadow: 0 0 10px #00ff88 , 0 0 20px #00ff88;
    transition: width 0.1s linear;
}


